body{
  background-color: #ADDCFF;
}
.mainContainer {
  background-color: #7096B3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Container {
  padding: 100px;
}
